{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  <div class="submit-row">
    <input type="submit" value="{% trans '立即执行备份' %}" name="_run_backup_now">
    {% if original %}
      {% if original.is_enabled %}
        <input type="submit" value="{% trans '禁用策略' %}" name="_disable_strategy">
      {% else %}
        <input type="submit" value="{% trans '启用策略' %}" name="_enable_strategy">
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
